<% for (var i = 0; i < data.length; i++) { %>
    <div class="bg-light col-lg-6 col-12 p-2">
        <div class="row">
            <div class="col-7">
                <img class="img-fluid" src="<%= data[i].image_link %>" alt="<%= data[i].name %>" width="300px" height="300px">
            </div>
            <div class="col-5">
                <h4><%= data[i].name %></h4>
                <p class="m-0"><%= data[i].description %></p>
                <p class="price">PRICE: $<%= data[i].price %></p>
            </div>
            <input class="btn btn-primary btn-sm" type="submit" value="Add to Cart">
        </div>
    </div>
<% } %>